<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.shiro.shiro2spboot.dao.slave.SlaveRoleMapper">
    <resultMap id="BaseResultMap" type="com.springboot.shiro.shiro2spboot.entity.Role">
        <!--@mbg.generated-->
        <!--@Table role-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="available" jdbcType="BIT" property="available"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>

        <collection property="permissions" ofType="com.springboot.shiro.shiro2spboot.entity.Permission">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="permissionStr" column="permission_str"/>
            <result property="available" column="available"/>
            <result property="parentId" column="parent_id"/>
            <result property="parentIds" column="parent_ids"/>
            <result property="resourceType" column="resource_type"/>
            <result property="url" column="url"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, available, description, role_name
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        r.*,p.*
        from role r inner join role_permission rp on r.id = rp.role_id
        inner join permission p on rp.permission_id = p.id
        where r.id = #{id,jdbcType=BIGINT}
    </select>
</mapper>