<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.shiro.shiro2spboot.dao.MpCustomMapper">
  <resultMap id="BaseResultMap" type="com.springboot.shiro.shiro2spboot.entity.MpCustomEntity">
    <!--@mbg.generated-->
    <!--@Table mp_custom-->
    <id column="custom_id" jdbcType="INTEGER" property="customId" />
    <result column="custom_name" jdbcType="VARCHAR" property="customName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="owner_tel" jdbcType="VARCHAR" property="ownerTel" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    custom_id, custom_name, full_name, address, email, owner_name, owner_tel, `status`, 
    note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from mp_custom
    where custom_id = #{customId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from mp_custom
    where custom_id = #{customId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="custom_id" keyProperty="customId" parameterType="com.springboot.shiro.shiro2spboot.entity.MpCustomEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mp_custom (custom_name, full_name, address, 
      email, owner_name, owner_tel, 
      `status`, note)
    values (#{customName,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR}, #{ownerTel,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="custom_id" keyProperty="customId" parameterType="com.springboot.shiro.shiro2spboot.entity.MpCustomEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mp_custom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customName != null">
        custom_name,
      </if>
      <if test="fullName != null">
        full_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="ownerTel != null">
        owner_tel,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customName != null">
        #{customName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="ownerTel != null">
        #{ownerTel,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.shiro.shiro2spboot.entity.MpCustomEntity">
    <!--@mbg.generated-->
    update mp_custom
    <set>
      <if test="customName != null">
        custom_name = #{customName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="ownerTel != null">
        owner_tel = #{ownerTel,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where custom_id = #{customId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.shiro.shiro2spboot.entity.MpCustomEntity">
    <!--@mbg.generated-->
    update mp_custom
    set custom_name = #{customName,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      owner_tel = #{ownerTel,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR}
    where custom_id = #{customId,jdbcType=INTEGER}
  </update>
    <insert id="save" keyColumn="custom_id" keyProperty="customId" parameterType="com.springboot.shiro.shiro2spboot.entity.MpCustomEntity" useGeneratedKeys="true">
        insert into mp_custom(
        custom_name
        <if test="fullName != null and fullName != ''">
            ,full_name
        </if>
        <if test="address != null and address != ''">
            ,address
        </if>
        <if test="email != null and email != ''">
            ,email
        </if>
        ,owner_name
        <if test="ownerTel != null and ownerTel != ''">
            ,owner_tel
        </if>
        ,status
        <if test="note != null and note != ''">
            ,note
        </if>
        ) value (
        #{customName}
        <if test="fullName != null and fullName != ''">
            ,#{fullName}
        </if>
        <if test="address != null and address != ''">
            ,#{address}
        </if>
        <if test="email != null and email != ''">
            ,#{email}
        </if>
        ,#{ownerName}
        <if test="ownerTel != null and ownerTel != ''">
            ,#{ownerTel}
        </if>
        ,#{status}
        <if test="note != null and note != ''">
            ,#{note}
        </if>
        )
    </insert>
    <update id="update" parameterType="com.springboot.shiro.shiro2spboot.entity.MpCustomEntity">
        update mp_custom
        <set>
            <if test="customName != null and customName != ''">
                custom_name = #{customName},
            </if>
            <if test="fullName != null and fullName != ''">
                full_name = #{fullName},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="ownerName != null and ownerName != ''">
                owner_name = #{ownerName},
            </if>
            <if test="ownerTel != null and ownerTel != ''">
                owner_tel = #{ownerTel},
            </if>
            status = #{status},
            <if test="note != null and note != ''">
                note = #{note},
            </if>
        </set>
        where custom_id = #{customId}
    </update>
    <delete id="delete" parameterType="int">
        delete from mp_custom where custom_id = #{customId}
    </delete>
    <select id="list" resultType="com.springboot.shiro.shiro2spboot.entity.MpCustomEntity">
        select * from mp_custom
    </select>
    <select id="searchById" parameterType="int" resultType="com.springboot.shiro.shiro2spboot.entity.MpCustomEntity">
        select * from mp_custom where custom_id = #{customId}
    </select>
</mapper>